@import "tailwindcss";

@page {
    size: A4;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #ccc;
    font-family: "Ubuntu";
}

.a4 {
    width: 21cm;
    height: 29.7cm;
    margin: 1cm auto;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    page-break-after: always;
    box-sizing: border-box;
}

@media print {
    body {
        background: none;
    }

    .a4 {
        box-shadow: none;
        margin: 0;
        page-break-after: always;
    }
}

* {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}