---
import { Icon } from "astro-icon/components";
---

<ul
    class="grid grid-rows-3 grid-flow-col grid-cols-2 gap-1.5 bg-[#222A33] px-12 py-3 text-white"
>
    <li class="flex items-center gap-2 text-sm">
        <Icon class={"size-4"} name="mdi:email" />
        jarodriguez207@gmail.com
    </li>
    <li class="flex items-center gap-2 text-sm">
        <Icon class={"size-4"} name="mdi:location" />
        Cucuta, Colombia
    </li>
    <li class="flex items-center gap-2 text-sm">
        <Icon class={"size-4"} name="mdi:github" />
        github.com/juanandresra
    </li>
    <li class="flex items-center gap-2 text-sm">
        <Icon class={"size-4"} name="mdi:phone" />
        +57 3016224924
    </li>
    <li class="flex items-center gap-2 text-sm">
        <Icon class={"size-4"} name="mdi:linkedin" />
        linkedin.com/in/juanandresra
    </li>
</ul>
